CompileFlags:
  Add:
    [
      -xc,
      -std=c99,
      -Wall,
      -Wno-missing-prototypes,
    ]
  Remove: -W*
  Compiler: gcc 
Diagnostics:
  UnusedIncludes: None 
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove:
      [
        abseil*,
        fuchsia*,
        llvmlib*,
        zircon*,
        altera*,
        readability-else-after-return,
        readability-magic-numbers,
        readability-identifier-length,
        readability-braces-around-statements,
        readability-function-cognitive-complexity,
        modernize-use-trailing-return-type,
        readability-isolate-declaration,
      ]
Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
